vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|04 Jun 2020 05:36:24 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|LAPTOP-FDRKRRF3\\sBenavente
vti_modifiedby:SR|LAPTOP-FDRKRRF3\\sBenavente
vti_timecreated:TR|04 Jun 2020 05:36:24 -0000
vti_cacheddtm:TX|04 Jun 2020 05:36:24 -0000
vti_filesize:IR|6500
vti_cachedlinkinfo:VX|S|images/circuitboard1.jpg S|images/php.jpg
vti_cachedsvcrellinks:VX|FSUS|links/images/circuitboard1.jpg NSUS|links/images/php.jpg
vti_backlinkinfo:VX|links/testinghtml.html
